.flex{
  display:flex;
  flex-direction:row;
  height:50px;
}
.lightpink{
  display:flex;
  background-color:lightpink;
  width:100px;
  justify-content: center;
  align-items: center;
}
.item1{
  background-color: black;
  color:white;
}
.lightblue{
  background-color:lightblue;
  width:200px;
}